:root {
	--mk-font-family-sans: "Unify Sans", sans-serif;
	--mk-font-family-serif: "Unify Serif", serif;
	--mk-font-size-small: 12px;
	--mk-line-height-small: 16px;
	--mk-font-size-medium: 16px;
	--mk-line-height-medium: 22px;
	--mk-font-size-medium-2: 18px;
	--mk-line-height-medium-2: 24px;
	--mk-font-size-large: 20px;
	--mk-line-height-large: 28px;
	--mk-font-size-extra-large: 28px;
	--mk-line-height-extra-large: 34px;
	--mk-color-background: #ffffff;
	--mk-color-text: #404040;
	--mk-color-orange: #c96743;
	--mk-color-orange-light: #e6a38a;
	--mk-color-orange-dark: #4e2b1f;
	--mk-color-blue: #416986;
	--mk-color-blue-light: #8da2b5;
	--mk-color-grey: #ababab;
	--mk-color-grey-light: #f0f0f0;
	--mk-color-grey-dark: #404040;
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-size: var(--mk-font-size-medium);
	color: var(--mk-color-text);
}

.usat-interactive-graphic, .usat-interactive-graphic * {
	box-sizing: border-box;
}

.usat-interactive-graphic div,
.usat-interactive-graphic ul,
.usat-interactive-graphic ol,
.usat-interactive-graphic li,
.usat-interactive-graphic h1,
.usat-interactive-graphic h2,
.usat-interactive-graphic h3,
.usat-interactive-graphic h4,
.usat-interactive-graphic h5,
.usat-interactive-graphic h6 {
	margin: 0;
	padding: 0;
	color: var(--mk-color-text);
}

.usat-interactive-graphic p,
.usat-interactive-graphic ul,
.usat-interactive-graphic ol,
.usat-interactive-graphic li,
.usat-interactive-graphic h1,
.usat-interactive-graphic h2,
.usat-interactive-graphic h3,
.usat-interactive-graphic h4,
.usat-interactive-graphic h5,
.usat-interactive-graphic h6 {
	font-size: 16px;
	font-size: var(--mk-font-size-medium);
}

.usat-interactive-graphic {
	font-family: var(--mk-font-family-sans, sans-serif);
	font-size: 16px;
	font-size: var(--mk-font-size-medium);
	line-height: 22px;
	line-height: var(--mk-line-height-medium);
	background-color: var(--mk-color-background);
}

.usat-interactive-graphic p {
	margin: 0;
	padding: 0;
	margin-bottom: 22px;
}

.usat-interactive-graphic h1,
.usat-interactive-graphic h2,
.usat-interactive-graphic h3,
.usat-interactive-graphic h4,
.usat-interactive-graphic h5,
.usat-interactive-graphic h6 {
	font-family: var(--mk-font-family-sans, sans-serif);
	font-weight: 700;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

.usat-interactive-graphic h2 {
	font-size: 32px;
	line-height: 36px;
	font-family: var(--mk-font-family-serif, serif);
	font-weight: 700;
	margin-bottom: 10px;
}
.usat-interactive-graphic .chart-wrapper {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
	overflow: auto;
}
.usat-interactive-graphic .chart-group .chart-wrapper {
	padding: 0;
	overflow: visible;
}
.chart-inner-wrapper {
	position: static !important;
}
.usat-interactive-graphic .chart-wrap-double-group {
	padding: 0 20px;
	width: 100%;
}

.usat-interactive-graphic .in-depth-article-width {
	padding: 0 20px;
	width: 100%;
	max-width: 100%;
}

.usat-interactive-graphic h3.chart-label {
	font-size: var(--mk-font-size-medium);
	font-weight: 700;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}

@media (min-width: 768px) {
	.usat-interactive-graphic .in-depth-article-width {
		padding: 0 18vw;
	}
	.usat-interactive-graphic .chart-wrap-double-group {
		max-width: 1200px;
		margin: 0 auto;
	}
}
@media (min-width: 1024px) {
	.usat-interactive-graphic .in-depth-article-width {
		padding: 0 26vw;
	}
}
