:root {
    --mk-font-family-sans: "Unify Sans", sans-serif;
    --mk-font-family-serif: "Unify Serif", serif;
    --mk-font-size-small: 12px;
    --mk-line-height-small: 16px;
    --mk-font-size-medium: 16px;
    --mk-line-height-medium: 22px;
    --mk-font-size-medium-2: 18px;
    --mk-line-height-medium-2: 24px;
    --mk-font-size-large: 20px;
    --mk-line-height-large: 28px;
    --mk-font-size-extra-large: 28px;
    --mk-line-height-extra-large: 34px;
    --mk-color-background: #fff;
    --mk-color-text: #404040;
    --mk-color-orange: #c96743;
    --mk-color-orange-light: #e6a38a;
    --mk-color-orange-dark: #4e2b1f;
    --mk-color-blue: #416986;
    --mk-color-blue-light: #8da2b5;
    --mk-color-grey: #ababab;
    --mk-color-grey-light: #f0f0f0;
    --mk-color-grey-dark: #404040;
}

body, html {
    color: var(--mk-color-text);
    font-size: var(--mk-font-size-medium);
    margin: 0;
    padding: 0;
}

.usat-interactive-graphic, .usat-interactive-graphic * {
    box-sizing: border-box;
}

.usat-interactive-graphic div, .usat-interactive-graphic h1, .usat-interactive-graphic h2, .usat-interactive-graphic h3, .usat-interactive-graphic h4, .usat-interactive-graphic h5, .usat-interactive-graphic h6, .usat-interactive-graphic li, .usat-interactive-graphic ol, .usat-interactive-graphic ul {
    color: var(--mk-color-text);
    margin: 0;
    padding: 0;
}

.usat-interactive-graphic, .usat-interactive-graphic h1, .usat-interactive-graphic h2, .usat-interactive-graphic h3, .usat-interactive-graphic h4, .usat-interactive-graphic h5, .usat-interactive-graphic h6, .usat-interactive-graphic li, .usat-interactive-graphic ol, .usat-interactive-graphic p, .usat-interactive-graphic ul {
    font-size: var(--mk-font-size-medium);
}

.usat-interactive-graphic {
    background-color: var(--mk-color-background);
    font-family: var(--mk-font-family-sans, sans-serif);
    line-height: var(--mk-line-height-medium);
}

.usat-interactive-graphic p {
    margin: 0 0 22px;
    padding: 0;
}

.usat-interactive-graphic h1, .usat-interactive-graphic h2, .usat-interactive-graphic h3, .usat-interactive-graphic h4, .usat-interactive-graphic h5, .usat-interactive-graphic h6 {
    font-family: var(--mk-font-family-sans, sans-serif);
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.usat-interactive-graphic h2 {
    font-family: var(--mk-font-family-serif, serif);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 10px;
}

.usat-interactive-graphic .chart-wrapper {
    margin: 0 auto;
    max-width: 900px;
    overflow: auto;
    padding: 0 20px;
    width: 100%;
}

.usat-interactive-graphic .chart-group .chart-wrapper {
    overflow: visible;
    padding: 0;
}

.chart-inner-wrapper {
    position: static !important;
}

.usat-interactive-graphic .chart-wrap-double-group {
    padding: 0 20px;
    width: 100%;
}

.usat-interactive-graphic .in-depth-article-width {
    max-width: 100%;
    padding: 0 20px;
    width: 100%;
}

.usat-interactive-graphic h3.chart-label {
    font-size: var(--mk-font-size-medium);
    font-weight: 700;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

@media (min-width: 768px) {
    .usat-interactive-graphic .in-depth-article-width {
        padding: 0 18vw;
    }

    .usat-interactive-graphic .chart-wrap-double-group {
        margin: 0 auto;
        max-width: 1200px;
    }
}

@media (min-width: 1024px) {
    .usat-interactive-graphic .in-depth-article-width {
        padding: 0 26vw;
    }
}

@font-face {
    font-family: "Unify Sans";
    font-style: normal;
    font-weight: 400;
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySans_W_Rg.eot);
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySans_W_Rg.eot?#iefix) format("embedded-opentype"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySans_W_Rg.woff) format("woff"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySans_Rg.ttf) format("truetype"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySans_Rg.svg#UnifySans) format("svg");
}

@font-face {
    font-family: "Unify Sans";
    font-style: normal;
    font-weight: 700;
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySans_W_SBd.eot);
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySans_W_SBd.eot?#iefix) format("embedded-opentype"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySans_W_SBd.woff) format("woff"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySans_SBd.ttf) format("truetype"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySans_SBd.svg#UnifySans_SBd) format("svg");
}

@font-face {
    font-family: "Unify Sans";
    font-style: normal;
    font-weight: 900;
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySans_W_Rg.eot);
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySans_W_Rg.eot?#iefix) format("embedded-opentype"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySans_W_Bd.woff) format("woff"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySans_Bd.ttf) format("truetype"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySans_Bd.svg#UnifySans_Bd) format("svg");
}

@font-face {
    font-family: "Unify Serif";
    font-style: normal;
    font-weight: 400;
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySerif_W_Rg.eot);
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySerif_W_Rg.eot?#iefix) format("embedded-opentype"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySerif_W_Rg.woff) format("woff"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySerif_Rg.ttf) format("truetype"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySerif_W_Rg.svg#UnifySerif_A_Rg) format("svg");
}

@font-face {
    font-family: "Unify Serif";
    font-style: normal;
    font-weight: 700;
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySerif_W_SBdIt.eot);
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySerif_W_SBdIt.eot?#iefix) format("embedded-opentype"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySerif_W_SBd.woff) format("woff"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySerif_SBd.ttf) format("truetype"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySerif_W_SBd.svg#UnifySerif_A_Rg) format("svg");
}

@font-face {
    font-family: "Unify Serif";
    font-style: normal;
    font-weight: 900;
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySerif_W_Bd.eot);
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySerif_W_Bd.eot?#iefix) format("embedded-opentype"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySerif_W_Bd.woff) format("woff"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySerif_Bd.ttf) format("truetype"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySerif_W_Bd.svg#UnifySerif_A_Rg) format("svg");
}

@font-face {
    font-family: "Unify Sans Condensed";
    font-style: normal;
    font-weight: 900;
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySansCd_W_Bd.eot);
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySansCd_W_Bd.eot?#iefix) format("embedded-opentype"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySansCd_W_Bd.woff) format("woff"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySansCd_W_Bd.ttf) format("truetype");
}

@font-face {
    font-family: "Unify Sans Condensed";
    font-style: normal;
    font-weight: 700;
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySansCd_W_SBd.eot);
    src: url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySansCd_W_SBd.eot?#iefix) format("embedded-opentype"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySansCd_W_SBd.woff) format("woff"), url(https://www.gannett-cdn.com/experiments/usatoday/_common/_fonts/UnifySansCd_W_SBd.ttf) format("truetype");
}

body,
html,
div,
h1,
h2,
h3,
h4,
.h5,
p {
  margin: 0;
  padding: 0;
}

.usat-interactive-graphic {
  font-family: "Unify Sans", sans-serif;
  font-size: 16px;
  color: #404040;
  background: #ffffff;
  overflow: auto;
}

.usat-interactive-graphic,
.usat-interactive-graphic * {
  box-sizing: border-box;
}

.usat-interactive-graphic {
  padding: 20px 0px;
}

#header-wrap {
  display: none;
}

.header-wrap {
  margin: 0 auto;
  padding-bottom: 20px;
}

p.graphic-chatter {
  margin-top: 0;
}

p.graphic-chatter.extra-height {
  line-height: 1.5;
}

.footer-wrap {
  margin: 10px auto 0;
  /* max-width: 1100px; */
}

img.graphic-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.usat-interactive-graphic h1,
.usat-interactive-graphic h2,
.usat-interactive-graphic h3,
.usat-interactive-graphic h4,
.usat-interactive-graphic h5,
.usat-interactive-graphic h6 {
  font-family: "Unify Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

h2.graphic-header {
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: 800px) {
  h2.graphic-header {
    font-size: 20px;
  }
}

p.source-line {
  display: block;
  font-family: "Unify Sans", sans-serif;
  font-size: 14px;
  margin: 0 0 0.5em;
}

.mapboxgl-popup-content p {
  font-family: "Unify Sans", sans-serif;
  font-weight: 400;
}

.mapboxgl-popup-content h2 {
  margin-bottom: 1em;
}

.mapboxgl-popup-content p strong {
  font-weight: 700;
}

.toggle-buttons-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

button.toggle-button {
  background: #d7d7d7;
  border: solid 1px #afafaf;
  font-size: 1rem;
  font-family: "Unify Sans", sans-serif;
  border-radius: 0 5px 5px 0;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0;
}

button.toggle-button:first-child {
  border-radius: 5px 0 0 5px;
}

button.toggle-button.active {
  background: #ffffff;
  font-weight: 700;
}

p.chatter-center {
  text-align: center;
}

.header-wrap h2 {
  font-size: 22px;
}

.tooltip {
  position: absolute;
  width: auto;
  max-width: 250px;
  height: auto;
  max-height: 100px;
  padding: 10px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.9);
  border: 0px;
  border-radius: 8px;
}

canvas:focus {
  outline: none;
}

.article-inner {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .article-inner {
    padding: 0 18vw;
  }
}
@media (min-width: 1024px) {
  .article-inner {
    padding: 0 26vw;
  }
}

.tooltip-wrapper.svelte-1r6xsi7{background:#fff;border:2px solid var(--mk-color-orange);box-shadow:0 0 5px 2px rgba(0,0,0,.15);font-family:var(--mk-font-family-sans);font-size:14px;line-height:15px;max-width:100%;padding:10px;position:absolute;transform:translate(-50%,-100%);width:400px;z-index:500}.tooltip-wrapper.small.svelte-1r6xsi7{font-size:var(--mk-font-size-small);width:220px}.tooltip-wrapper.below.svelte-1r6xsi7{transform:translate(-50%)}p.tooltip-label.svelte-1r6xsi7{font-family:var(--mk-font-family-sans);font-size:.75em;line-height:1.1;margin:0}p.tooltip-text.svelte-1r6xsi7{font-family:var(--mk-font-family-sans);font-size:1em;margin-bottom:5px;margin-top:5px}.tooltip-value.svelte-1r6xsi7{font-weight:700}.tooltip-detail-section.svelte-1r6xsi7{display:flex;flex-wrap:wrap;margin:1em 0}.tooltip-detail-group.svelte-1r6xsi7{margin:0 10px 10px 0}.tooltip-detail-group.svelte-1r6xsi7:last-child{margin:0}.tooltip-close.svelte-1r6xsi7{background:none;border:none;color:var(--mk-color-grey-dark);position:absolute;right:10px;top:10px}@media(max-width: 500px){.tooltip-wrapper.svelte-1r6xsi7{left:50%!important}}@-webkit-keyframes svelte-1r6xsi7-stretchdelay{0%,40%,to{-webkit-transform:scaleY(.4)}20%{-webkit-transform:scaleY(1)}}@keyframes svelte-1r6xsi7-stretchdelay{0%,40%,to{transform:scaleY(.4);-webkit-transform:scaleY(.4)}20%{transform:scaleY(1);-webkit-transform:scaleY(1)}}@media(max-width: 620px){}@media(min-width: 600px){}
.loading-module-wrapper.svelte-6mbxdf.svelte-6mbxdf{background:#ffffff;display:flex;justify-content:center;align-items:center}.loading-icon.svelte-6mbxdf.svelte-6mbxdf{--accent-color:var(--mk-color-orange)}.loading-icon-content.svelte-6mbxdf .loading-icon-text.svelte-6mbxdf{text-align:center;font-size:16px;color:var(--accent-color, #404040)}.loading-icon-content-loader.svelte-6mbxdf.svelte-6mbxdf{width:100%;z-index:9999;height:30px;text-align:center;font-size:10px}.loading-icon-content-loader.svelte-6mbxdf>div.svelte-6mbxdf{background-color:var(--accent-color, #404040);height:30px;width:6px;display:inline-block;-webkit-animation:svelte-6mbxdf-stretchdelay 1.2s infinite ease-in-out;animation:svelte-6mbxdf-stretchdelay 1.2s infinite ease-in-out}.loading-icon-content-loader.svelte-6mbxdf .rect2.svelte-6mbxdf{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}.loading-icon-content-loader.svelte-6mbxdf .rect3.svelte-6mbxdf{-webkit-animation-delay:-1s;animation-delay:-1s}.loading-icon-content-loader.svelte-6mbxdf .rect4.svelte-6mbxdf{-webkit-animation-delay:-0.9s;animation-delay:-0.9s}.loading-icon-content-loader.svelte-6mbxdf .rect5.svelte-6mbxdf{-webkit-animation-delay:-0.8s;animation-delay:-0.8s}@-webkit-keyframes svelte-6mbxdf-stretchdelay{0%,40%,100%{-webkit-transform:scaleY(0.4)}20%{-webkit-transform:scaleY(1)}}@keyframes svelte-6mbxdf-stretchdelay{0%,40%,100%{transform:scaleY(0.4);-webkit-transform:scaleY(0.4)}20%{transform:scaleY(1);-webkit-transform:scaleY(1)}}
.type-info-wrapper.svelte-iivbzk.svelte-iivbzk{align-self:flex-end;padding-left:10px;padding-bottom:3px;z-index:500}.type-info-button.svelte-iivbzk.svelte-iivbzk{background:var(--mk-color-grey);border:none;border-radius:50%;color:#ffffff;cursor:pointer;width:30px;height:30px;font-weight:900}.type-info-details-wrapper.svelte-iivbzk.svelte-iivbzk{border:solid 1px var(--mk-color-grey);box-shadow:0px 0px 5px 2px rgba(0, 0, 0, 0.05);position:absolute;background:#ffffff;padding:10px;top:-3px;right:35px;width:375px;max-width:80vw;overflow-y:auto;transform:translate(-100%, 0)}.type-info-details-wrapper.hide.svelte-iivbzk.svelte-iivbzk{display:none}.type-info-details-wrapper.svelte-iivbzk p.svelte-iivbzk{font-size:var(--mk-font-size-small);font-family:var(--mk-font-family-sans);line-height:var(--mk-line-height-small);margin:0}p.type-info-term.svelte-iivbzk.svelte-iivbzk{font-weight:700;margin-top:10px}.detail-close.svelte-iivbzk.svelte-iivbzk{background:none;border:none;cursor:pointer;position:absolute;top:10px;right:10px;color:var(--mk-color-grey-dark)}@media(max-width: 620px){.type-info-wrapper.svelte-iivbzk.svelte-iivbzk{position:static}.type-info-details-wrapper.svelte-iivbzk.svelte-iivbzk{left:50% !important;transform:translate(-50%, 0)}}
.filter-select.svelte-exsg77{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:solid 1px var(--mk-color-grey);border-radius:5px;cursor:pointer;color:var(--mk-color-grey-dark);font-family:var(--mk-font-family-sans, sans-serif);padding:8px 25px 8px 5px;display:block;min-width:130px;background:var(--mk-color-grey-light);background-image:url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
			linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);background-repeat:no-repeat, repeat;background-position:right 0.7em top 50%, 0 0;background-size:0.65em auto, 100%}.filter-label.svelte-exsg77{font-size:0.8em}.filter-wrap.svelte-exsg77{display:flex}
.timeline-year-label.svelte-x6yehb.svelte-x6yehb{font-family:var(--mk-font-family-sans, sans-serif);font-weight:700;font-size:var(--mk-font-size-small, 12px)}.timeline-controls.svelte-x6yehb.svelte-x6yehb{display:flex;justify-content:flex-end;margin-bottom:1em}.timeline-year-group.svelte-x6yehb line.svelte-x6yehb{stroke:var(--mk-color-grey)}.timeline-month-label-group.svelte-x6yehb line.svelte-x6yehb{stroke:var(--mk-color-grey)}.incident-bubble.svelte-x6yehb.svelte-x6yehb{cursor:crosshair}.legend.svelte-x6yehb.svelte-x6yehb{display:flex;align-items:center;margin-left:1em}.legend-item.svelte-x6yehb.svelte-x6yehb{display:flex;align-items:center;margin-right:1em}.legend-color-box.svelte-x6yehb.svelte-x6yehb{width:20px;height:20px;border:1px solid black;margin-right:5px}.legend-label.svelte-x6yehb.svelte-x6yehb{font-size:12px;font-family:var(--mk-font-family-sans, sans-serif)}.legend-controls.svelte-x6yehb.svelte-x6yehb{display:flex;justify-content:space-between;align-items:center}.timeline-chart-month-axis .domain{display:none;opacity:0}.timeline-chart-year-label{color:var(--mk-color-grey-dark);font-size:var(--mk-font-size-small, 12px);font-weight:700}.timeline-month-labels text{color:var(--mk-color-grey-dark);font-size:10px;font-weight:700}@media(min-width: 600px){.timeline-chart-year-label{font-size:var(--mk-font-size-medium, 16px)}}
